RewriteEngine On    # Turn on the rewriting engine
RewriteRule    ^quote/([A-Z]{1,6})/?$    quote/index.php?symbol=$1    [NC,L]
RewriteRule    ^search/([A-Z]{1,6})/?$   quote/search.php?symbol=$1    [NC,L]